body{
    color: lightcoral;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

#container{
 width: 70%;
 padding: 1em;
 text-align: left;
 margin: 1px auto;
 border: 1px solid black;
}

#contenido{
    color:firebrick;
    font-weight: bold;
    text-align: center;
}

#cabecera{
    background: rgba(30, 34, 58, 0.8);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bolder;
    height: auto;
    margin: 0;
    padding: 0.5em;

    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}

#cabecera img{
    background-color: ghostwhite;
    border-radius: 50%;
    width: 50px;
}

#footer{
    background: #777;
    text-align: center;
    color: white;
    padding: 0.5em;
}